$white: #fff;
$black: #000;

/* Green */
$green-teal: #0ab463;

/* Blue */
$emerald: #0094ff;

/* Grey */
$light-gray: #ededed;
$dark-grey: #383838;
$pinkish-grey: #c4c4c4;
$warm-grey-75: #858585bf;
$grey-teal: #dadada;
