.container#search-bar {
  width: 205px;

  .search-input {
    font-family: "Montserrat";
    font-size: fontSize(7);
    font-weight: bold;
    width: 100%;
    height: 20px;
    border-radius: 2px;
    box-shadow: inset 0 0.5px 1.5px 0 $warm-grey-75;
    border: 0.5px solid $pinkish-grey;
    background-color: $white;
    margin: 10px 0px;
    padding: 5px;

    &::placeholder {
      color: $pinkish-grey;
    }
  }

  .button {
    width: 100%;
  }
}
