.results-container {
  width: 291px;
  min-height: 291px;

  .results-container-empty {
    font-size: fontSize(7);
    font-weight: bold;
    color: $pinkish-grey;
    margin-top: 105.5px;
    text-align: center;
  }
}
